
.services {
    
    padding: 30px 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .services-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .services-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color:  #3A8B59;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
  }
  
  .service-card {
    background-color: #fff;
    color: #555;
    padding: 1.5rem;
    border-top-right-radius: 40%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .service-icon {
    font-size: 2rem;
    text-align: start;
    margin-bottom: 10px;
    color: #3A8B59;
  }
  
  .service-title {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: start;
    margin-bottom: 10px;
    color: #63C7FF;
  }
  
  .service-description {
    font-size: 1.1rem;
    color: #555;
    text-align: start;
    margin-bottom: 10px;
  }

  
.service-button {
  padding: 10px 20px;
  font-size: 0.8rem;
  background-color: #3A8B59;
  color: #f8f8f8;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: 400;
}

.service-button:hover {
  background-color: #28a745;
  color: white;
  transform: scale(1.05);
}
  /* Responsive Design for Smaller Screens */
  @media (max-width: 768px) {

   
    .services-grid {
      grid-template-columns: 1fr 1fr;
    }

    .service-icon {
      font-size: 1.5rem;
    }

    .service-title {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width: 480px) {
    .services-grid {
      grid-template-columns: 1fr;
    }
  
    .services-title {
      font-size: 1.6rem;
    }
  
    .service-card {
      padding: 1.5rem
    }
  
    .service-title {
      font-size: 1.2rem;
    }
  
    .service-description {
      font-size: 1rem;
    }
  }
  